/* Light and Dark Theme based on user's machine settings */
:root {
    --background-light: #eeeeee;
    --background-medium-light: #dddddd;
    --text-light: #222222;
    --background-dark: #222222;
    --background-medium-dark: #333333;
    --text-dark: #eeeeee;
}

@media (prefers-color-scheme: light) {
    body {
        color: var(--text-light);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: var(--text-dark);
    }

    .environment-div {
        background-color: var(--background-medium-dark);
    }
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    height: 100%;
    background-color: transparent;
}

.top-div{
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 16px;
    display: grid;
    height: 100%;
    margin-left: 16px;
    margin-right: 16px;
}

h1{
    font-size: 8vh;
    margin-top: 0;
    margin-bottom: 0px;
}

p{
    margin: 0;
}

.version-text {
    font-size: 2vh;
    font-weight: 200;
    margin-top: 0;
    align-self: end; /* Aligns the text to the bottom of the grid row */
}

.version-number{
    font-size: 6vh;
    font-weight: 400;
    margin-top: 0px;
}

.version-date{
    font-size: 2vh;
    font-weight: 200;
    margin-top: 0px;
}

.environment-div {
    background-color: var(--environment-background);
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    padding: 16px;
}

/* Define environment-specific variables for light and dark themes */
@media (prefers-color-scheme: light) {
    :root {
        --environment-background: #dddddd; /* Slightly more gray for light theme */
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --environment-background: #333333; /* Slightly more gray for dark theme */
    }
}

.text-right {
    text-align: right;
}